extends base

block body
  .header
    .pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      a.pure-menu-heading(href='#') Site Title
  .splash-container
    .splash
      h1.splash-head Splash head
  .landing-container
